body{
    margin:0;
    padding:0;
    color:#444444;
}
.header{
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:inherit;
    display: block;
}
.container{
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 10px;
}
.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.page__main{
    flex:1;
}
.page__nav, .page__footer{
    background: #222222;
    color:#ffffff;
}
.nav{
    display: flex; justify-content: space-around;
    flex:1;
    margin: 0;
    padding: 0;
}
.nav__item {
    padding: 8px 0 ;
}
.nav__link{
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dddddd;
    width:100%;

    /*padding:0 40px;*/
}
.nav__brand{
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-self: flex-start;
}
.nav__brand h3{
    margin: 0;
}
.nav__link:hover{
    background: #333333;
    color:inherit;
    box-shadow: 0 0 20px #555555;
}


.nav__item_first{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hamb{
    display: none;
    width: 35px;
    padding: 0 5px ;
    justify-content: space-between;
    flex-direction: column;
}
.hamb__element{
    border: 1px solid #ffffff;
    margin: 8px 0;
}
@media (max-width: 500px){
    .page__nav{
        position: static;
        /*top:0;*/
        /*left:0;*/
        z-index: 1000;
    }
    .header{
        flex-direction: column;
    }
    .nav{
        flex-direction: column;
        display: none;
    }
    .nav_visible{
        display: flex;
    }
    #hamb{
        display: block;
        height: 100%;
    }
    .nav__item_first{
        flex:1;
    }
}
.footer__text{
    min-height: 30px;
    color: #aaaaaa;
    display: flex;
    align-items: center;
}
.user__page{
    display: flex;
    flex-wrap: wrap;
}
.user__info{
    flex:1 0 200px;
    padding:0  20px;
}
.user__string {
    display: flex;
    margin: 10px 0;
    padding: 5px;
    border-bottom: 1px solid #555555;
    justify-content: space-between;
}
.user__span{
    color: #ff6a6a;
}
.user__string:hover{
    background: #dddddd;
}
.user__char{
    flex: 0 0 100px;
}
.user_value{
    flex: 0 0 100px;
}
.user__button{
    text-align: center;
    margin: 20px 0 ;
}
.user__logout{
    display: inline-block;
    margin: 0 auto;
    border: 1px solid #bbbbbb;
    padding: 8px 20px ;
}
.user__logout:hover {
    background: #777777;
    color:#ffffff;
}
.login__form{
    display: flex;
    justify-content: center;
}
.login__form p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login__form input {
    padding:5px 10px;
    margin: 0 10px;
    color: #444444;
}
.login__button{
    justify-content: center !important;
}
.login__button input{
    padding: 5px 30px;
    cursor: pointer;
}
.message{
    max-width: 250px;
}

.catalog__box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.catalog__item{
    margin: 10px;
    flex:0 0 30%;
}

.catalog__item > img{
    width: 100%;
}

@media (max-width:600px){
    .catalog__item{
        margin: 10px;
        flex:0 0 45%;
    }
}

@media (max-width:410px){
    .catalog__item{
        margin: 10px;
        flex:0 0 95%;
    }
}

a{
    cursor: pointer;}

#see__more{
    display: inline-block;
    font-weight: 600;
    padding: 10px 20px;
    margin-bottom: 30px;
}

#see__more:hover{
    box-shadow: 0 0 10px #222222;
}
.product__item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__gallery{
    display: flex;
    justify-content: space-between;
}
#gallery img {
    width: 100%;
}

.product__gallery span{
    flex:1 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    cursor: pointer;
}

.produc__item_side{
    padding: 10px;
    min-width: 250px;
}
.produc__item_side div {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.product__button{
    text-align: center;

}
.product__button input{
    margin: 10px 0 ;
    padding: 10px 30px;
    cursor:pointer;
}

.product__gallery span:hover{
    background: #eeeeee;
}
.cart__box{
    display: flex;
    flex-wrap: wrap;
    margin: 20px -10px;
}

.cart__item{
    display: flex;
    padding: 10px;
    width: 45%;
}
.cart__item:hover{
    box-shadow: 0 0 20px #666666;
}

.cart__item_img{
    width: 50%;
}
.cart__item_desc{
    width: 50%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
}
.cart__item_caption{
    font-weight: 600;
    font-size: 24px;
}

@media (max-width: 800px){
    .cart__item{
        width: 90%;
    }
}
/*@media (min-width:390px) and (max-width: 800px){*/
/*    .cart__item{*/
/*        width: 90%;*/
/*    }*/
/*    .cart__item_desc{*/
/*        justify-content: center;*/
/*    }*/
/*    .cart__item_caption{*/
/*        position:absolute;*/
/*        top:0;*/
/*    }*/
/*}*/

.cart__item_img img {
    width: 100%;
}
.cart__item_line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
}
.cart__item_line input {
    width: 50%;
}

.cart__button {
    text-align: center;
}

.cart__button a{
    display: inline-block;
    border: 1px solid #222222;
    padding: 12px 50px;
    margin-bottom: 40px;
}
.cart__button a:hover{
    background: #333333;
    color: #eeeeee;
}

.cart__item_button{
    margin: 4px 10px;
}

.cart__item_line_buttons{
    justify-content: center;
}

#cartAddress{
    display: none;
    justify-content: center;
    margin-bottom: 20px;
}
#cartAddress input, #Send button{
    margin-left: 10px;
    padding: 8px;
    font-size: 14px;
    width:50%;
    min-width: 250px;
}

#Send{
    display: none;
}

#Send button{
    width: 150px;
    min-width: 150px;
}

#orderBox{
    border-top: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    display: grid;
    grid-template-rows: minmax(20px,auto);
    grid-template-columns: minmax(50px,auto)  minmax(50px,auto) minmax(auto,250px) minmax(30px,auto) minmax(30px,auto) minmax(auto,100px) 50px minmax(auto,100px) 30px;
    font-size: 14px;
}
.order__name_button:hover{
    background: #eeeeee;
    cursor: pointer;
    transform: scale(1.2);
}

.order__name{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #aaaaaa;
    padding: 3px 0;
    border-bottom: 1px solid #aaaaaa;
}
.admin__order-box{
    display: grid;
    grid-template-columns: repeat(10,auto);
    border-top: 1px solid #777777 ;
    border-left: 1px solid #777777 ;
    margin-bottom: 30px;
}
.admin__products-box{
    display: grid;
    grid-template-columns: 5% 25% 35% 10% 10% 15% ;
    margin: 0;
    border-left: 1px solid #777777 ;
}
.admin__order-item{
    padding:2px 5px;
    border-right: 1px solid #777777 ;
    border-bottom: 1px solid #777777 ;
    word-wrap: break-word;
}
.admin__order-item_send{
    text-align: center;
    font-weight: 600;
    cursor:pointer;
    color:#ffffff;
    background: #888888;
}
.admin__order-item_send:hover{
    background: #222222;
}

.admin__button-box{
    display: flex;
    margin: 0 -5px;
}

.admin__button-item{
    margin: 5px;
    padding: 10px;
    border: 1px solid #444444 ;
    flex:1;
    text-align: center;
}

.admin__product-item{
    padding:2px 5px;
    border-right: 1px solid #777777 ;
    border-bottom: 1px solid #777777 ;
    word-wrap: break-word;
}
.admin__product-item img {
    height:20px;
}
.admin__button-item:hover{
    background: #666666;
    color: #eeeeee;
}
.admin__products-box{
    cursor: pointer;
}
.admin__products-box:hover{
    background: #eeeeee;
}
.modal__back{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background: rgba(170, 170, 170, 0.5);
}
.modal{
    border: 1px solid #777777;
    padding: 20px;
    background: #ffffff;
    display: flex;
    flex-direction: column;

    position: absolute;
    transform: translate(0,-50%);
}
.modal input,textarea,select{
    margin: 10px 0;
    padding: 5px;
}
.modal h3 {
    margin: 5px;
}
.modal div{
    display: flex;
    margin: -5px;
}
.modal div>input{
    flex:1;
    margin:10px  5px;
}